@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap');

*{
  margin: 0;
  font-family: 'Readex Pro', sans-serif;
  color: #EEEDF0;
  background-color: #17181F;
}
a{
  color: inherit;
  text-decoration: inherit;
}

.button {
  background: linear-gradient(90deg, #6C72CB 6%, #CB69C1 100%);;
  border: none;
  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 25px;
  font-weight: 600;
}

.card-title{
  font-size: 24px;
}

.price{
  font-size: 14px;
  font-weight: 10;
}

.item-box{
  display: inline-block;
}

.navbar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem
}

.main-txt{
  padding-top: 110px;
  height: 100px;
  padding-bottom: 180px;
}

.main-txt h1{
  font-family: 'Readex Pro', sans-serif;
  font-size: 120px;
  margin-bottom: 30px;
}

.main-txt h6{
  font-weight: 10;
  font-family: 'Readex Pro', sans-serif;
  font-size: 20px;
  padding-bottom: 60px;
}

.container{
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.item-box{
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0.25rem;
  padding: 1px;
  margin-bottom: 35px;
  margin-top: 5px;
  background: linear-gradient(90deg, #6C72CB 6%, #CB69C1 100%);
}

header{
  padding-top: 10px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-text{
  font-size: 29px;
  margin-left: 10px;
}

.navbar-cart{
  font-size: 29px;
  margin-right: 15px;
}

img{
  width: 230px;
  padding-bottom: 15px;
}

footer{
  font-size: 10 px;
  height: 70px;
  text-align: center;
  justify-content: center;
  color: grey;
  margin-top: 35px;
}