@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap');

*{
  margin: 0;
  font-family: 'Readex Pro', sans-serif;
  color: #EEEDF0;
  background-color: #17181F;
}

a{
  color: inherit;
  text-decoration: inherit;
}

.navbar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

header{
  padding-top: 10px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-text{
  font-size: 29px;
  margin-left: 10px;
}

.navbar-cart{
  font-size: 29px;
  margin-right: 15px;
}

.container{
  padding-top:15px;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.shopping-cart{
  width: 55%;
  display:inline-block;
  text-align: left;
  float: left;
}

.calculations{
  width: 45%;
  display:inline-block;
  float: left;
}

.row{
  border-radius: 0.25rem;
  margin-bottom: 5px;
  border: 1px solid white;
  width: 175px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

small{
  font-size: 14px;
}

.pt-2{
  font-size: 21px;
}

.Removebt {
  background-color: #f47174;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  height: 21px;
  margin-top: 10px;
}

.pimg{
  width: 175px;
  border-radius: 0.25rem;
  margin-bottom: 10px;
}

.wrapper{
  margin-top: 70px;
}

.balans{
  float: left;
  width: 60%;
}

.item_row{
  float: left;
  width: 40%;
}

.amoountform{
  width: 100px;
}