@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap');

*{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #EEEDF0;
  background-color: #17181F;
}
a{
  color: inherit;
  text-decoration: inherit;
}

.button {
  background-color: #ffc107;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 25px;
}

.card-title{
  font-size: 24px;
}

.price{
  font-size: 24px;
}

.item-box{
  display: inline-block;
}

header{
  background-color: dark-grey;
}

.navbar{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem
}

.container{
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.item-box{
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0.25rem;
  padding: 5px;
  margin-bottom: 35px;
  margin-top: 5px;
  background-color: background: linear-gradient(90deg, rgba(108,114,203,1) 0%, rgba(203,105,193,1) 100%);;
  border: 1px solid #CB69C1;
}

.navbar-text{
  font-size: 29px;
}

img{
  width: 230px;
  padding-bottom: 15px;
}

body {
  background-color: #ffffff;
  color: #b16088;
}

footer{
  font-size: 10 px;
}