@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap');

/*
yellow: #ffff93
yellow-dim: #eff0b6
purple: #9393ff
white: #fffff
*/

*{
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
a{
  color: inherit;
  text-decoration: inherit;
}

.button {
  background-color: #9393ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.card-title{
  font-size:24px;
}

.price{
  font-size:24px;
}

.item-box{
  display: inline-block;
}

.navbar{
  position:relative;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding:.5rem 1rem
}

.container{
  width:100%;
  text-align: center;
  padding-top:15px;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.item-box{
  margin-left: 20px;
  margin-right: 20px;
  padding: 3px;
  border-radius: 0.25rem;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.navbar-text{
  font-size: 29px;
}

img{
  width: 230px;
  padding-bottom: 15px;
}

body {
  background-color: #ffffff;
  color: #b16088;
}

footer{
  font-size: 10 px;
}

@keyframes background_colour {
    0% {
        background-color: #eff0b6;
        color: #763857;
    }
    50% {
        background-color: #ffff93;
        color: #b16088;
    }
    100% {
        background-color: #eff0b6;
        color: #763857;
    }
}

header{
  animation: background_colour 15s infinite ease-in-out;
}

.pimg
{
  width: 175px;
  border-radius: 8px;
  margin-bottom: 10px;
}

#top{
  width: 10%;
  border: 1px solid;
  display: inline-block;
}

.witampananowaka{
  width: 100%;
  margin-top: 75px;
  text-align: center;
  font-size: 28px;
}

.Removebt {
  background-color: #f47174;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  height: 21px;
}

.pt-2{
  font-size: 21px;
}

small{
  font-size: 14px;
}

.row{
  border-style: none;
  border-width: 2px;
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 15px;
  margin-right: 40px;
  margin-left: 40px;
}

.calculations{
  width: 45%;
  display:inline-block;
  float: left;
}

.shopping-cart{
  width: 55%;
  display:inline-block;
  text-align: left;
  float: left;
}
